<section class="block-ui" (click)="onBgClick()">
  <div class="block-ui__parent">
    <section class="block-ui__parent--header" [ngStyle]="{'background-color': blockUiModel.headerBgColor}">
      <div class="block-ui__parent--header__left"></div>
      <div class="block-ui__parent--header__message">{{ blockUiModel.headerMessage }}</div>
      <div class="block-ui__parent--header__right">
        <a (click)="onClose()" *ngIf="blockUiModel.isShowCloseButton"><img src="../../../../assets/images/block-ui/close-icon.svg" alt=""></a>
      </div>
    </section>
    <section class="block-ui__parent--content">
      <div class="block-ui__parent--content__wrap">
        <ng-content select="[content]"></ng-content>
      </div>
    </section>
  </div>
</section>
